# NEVER commit .env to git — add these on Netlify dashboard

ADMIN_PASSWORD_HASH=6d87999a42d46d2102ce1a9ce022b4605126a591c9f0ff28b1d3a6703437e26f
CLOUDINARY_CLOUD_NAME=dlqot21ht
CLOUDINARY_API_KEY=983322175799875
CLOUDINARY_API_SECRET=A1JMEqkLf5HtIm1IeXZUKVCBsEc
# JSONBin no longer needed — using Netlify Blobs
